@media screen and (max-width: 1250px) {
  .content_container {
    display: block;
    padding: 1vw;
    margin: initial;
  }
  .form_section {
    margin: 1vh 0;
  }
}

@media screen and (max-width: 550px) {
  .content_container {
    display: grid;
    grid-template-rows: auto;
    gap: 2vh;
  }
}
