* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.wrap {
  margin: 90px auto;
  min-height: 100vh;
  position: relative;
  width: 100%;
}
li,
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a {
  text-decoration: none;
  color: black;
}
